/*
// desktop-first
@mixin breakpoint($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: var.$bp-sm) {@content};                              // viewport: 0-600px       <- small
    }
    @if $breakpoint == md {
        @media (min-width: var.$bp-sm) and (max-width: var.$bp-md) {@content};  // viewport: 600-900px     <- medium
    }
    @if $breakpoint == lg {
        @media (min-width: var.$bp-md) and (max-width: var.$bp-lg) {@content};  // viewport: 900-1200px    <- large
    }
    @if $breakpoint == xl {
        @media (min-width: var.$bp-lg) and (max-width: var.$bp-xl) {@content};  // viewport: 1200-1800px   <- extra large
    }

                                                                                // viewport: 1800+         <- default (no media query)
}
*/
html {
  font-size: 50%;
}
@media (min-width: 600px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 100%;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  color: #3e618f;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  color: #898989;
  font-weight: 400;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.3rem;
}

a, button, .btn {
  font-size: 1rem;
  color: #3e618f;
  text-decoration: none;
}
a:hover, button:hover, .btn:hover {
  text-decoration: underline;
}

.btn, button {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  background-color: #F8F8F8;
  color: #3e618f;
  border: none;
}
.btn:hover, button:hover {
  transform: translateY(-0.3rem);
}
.btn:active, button:active {
  transform: translateY(-0.1rem);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.1rem 1.5rem;
}
@media (min-width: 600px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
}

.col {
  max-width: 100%;
}
@media (min-width: 600px) {
  .col--sm-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--sm-33 {
    max-width: calc((33.3 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3 * 1%);
  }
  .col--sm-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--sm-66 {
    max-width: calc((66.6 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6 * 1%);
  }
  .col--sm-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--sm-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}
@media (min-width: 900px) {
  .col--md-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--md-33 {
    max-width: calc((33.3 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3 * 1%);
  }
  .col--md-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--md-66 {
    max-width: calc((66.6 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6 * 1%);
  }
  .col--md-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--md-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}
@media (min-width: 1200px) {
  .col--lg-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--lg-33 {
    max-width: calc((33.3 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3 * 1%);
  }
  .col--lg-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--lg-66 {
    max-width: calc((66.6 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6 * 1%);
  }
  .col--lg-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--lg-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}
@media (min-width: 1800px) {
  .col--xl-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--xl-33 {
    max-width: calc((33.3 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3 * 1%);
  }
  .col--xl-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--xl-66 {
    max-width: calc((66.6 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6 * 1%);
  }
  .col--xl-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--xl-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}/*# sourceMappingURL=style.css.map */