/*
// desktop-first
@mixin breakpoint($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: var.$bp-sm) {@content};                              // viewport: 0-600px       <- small
    }
    @if $breakpoint == md {
        @media (min-width: var.$bp-sm) and (max-width: var.$bp-md) {@content};  // viewport: 600-900px     <- medium
    }
    @if $breakpoint == lg {
        @media (min-width: var.$bp-md) and (max-width: var.$bp-lg) {@content};  // viewport: 900-1200px    <- large
    }
    @if $breakpoint == xl {
        @media (min-width: var.$bp-lg) and (max-width: var.$bp-xl) {@content};  // viewport: 1200-1800px   <- extra large
    }

                                                                                // viewport: 1800+         <- default (no media query)
}
*/
html {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  color: #3e618f;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

p, input, textarea {
  font-size: 1rem;
  color: #898989;
  font-weight: 400;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.3rem;
}

a, button, .btn {
  font-size: 1rem;
  color: #3e618f;
  text-decoration: none;
}
a:hover, button:hover, .btn:hover {
  text-decoration: none;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btn, button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  position: relative;
  background-color: #F8F8F8;
  color: #3e618f;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.5);
}
.btn:hover, button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.5);
}
.btn:active, button:active {
  transform: translateY(-0.2rem);
  box-shadow: inset 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.4);
}
.btn--disabled, button--disabled {
  cursor: not-allowed;
  box-shadow: none;
  border: 0.1rem solid #C2C2C2;
  color: #898989;
}
.btn--disabled:hover, button--disabled:hover {
  transform: none;
  box-shadow: none;
}
.btn--disabled:active, button--disabled:active {
  transform: none;
  box-shadow: none;
}
.btn--hidden, button--hidden {
  visibility: hidden;
}

.alert {
  align-self: center;
  max-width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.alert--warning {
  background-color: rgb(211, 195, 51);
  color: rgb(0, 0, 0);
}
.alert--danger {
  background-color: rgb(210, 125, 22);
  color: rgb(0, 0, 0);
}
.alert--success {
  background-color: rgb(10, 178, 86);
  color: rgb(0, 0, 0);
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
  font-size: 1.2rem;
}
.form__element {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.3rem;
}
.form__element--required > label::after {
  content: "*";
}
.form__element > label {
  color: rgb(122, 122, 122);
  margin-bottom: 0.2rem;
}
.form__element > input {
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid rgb(145, 145, 145);
}
.form__element > input:hover {
  outline: 1px solid rgb(80, 49, 255);
}
.form__element > input:focus {
  outline: 2px solid rgb(80, 49, 255);
}
.form__element > textarea {
  padding: 0.3rem;
  font-size: 1rem;
}
.form__element > textarea:hover {
  outline: 1px solid rgb(80, 49, 255);
}
.form__element > textarea:focus {
  outline: 2px solid rgb(80, 49, 255);
}
.form > button[type=submit] {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 30%;
  align-self: center;
}
.form__error-msg {
  visibility: hidden;
  font-size: 0.9rem;
  color: rgb(210, 50, 22);
  align-self: flex-end;
  z-index: 1;
}
.form__error-msg--active {
  visibility: visible;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.1rem 1.5rem;
}
@media (min-width: 600px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
}

.col-10 {
  max-width: calc((10 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(10 * 1%);
}
.col-20 {
  max-width: calc((20 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(20 * 1%);
}
.col-25 {
  max-width: calc((25 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(25 * 1%);
}
.col-30 {
  max-width: calc((30 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(30 * 1%);
}
.col-33 {
  max-width: calc((33 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33 * 1%);
}
.col-40 {
  max-width: calc((40 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(40 * 1%);
}
.col-50 {
  max-width: calc((50 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50 * 1%);
}
.col-60 {
  max-width: calc((60 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(60 * 1%);
}
.col-66 {
  max-width: calc((66 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(66 * 1%);
}
.col-70 {
  max-width: calc((70 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(70 * 1%);
}
.col-75 {
  max-width: calc((75 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(75 * 1%);
}
.col-80 {
  max-width: calc((80 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(80 * 1%);
}
.col-90 {
  max-width: calc((90 * 1%) - 1.5rem);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(90 * 1%);
}
.col-100 {
  max-width: calc((100 * 1%) - 1.5rem);
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100 * 1%);
}
@media (min-width: 600px) {
  .col--sm-10 {
    max-width: calc((10 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(10 * 1%);
  }
  .col--sm-20 {
    max-width: calc((20 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20 * 1%);
  }
  .col--sm-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--sm-30 {
    max-width: calc((30 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(30 * 1%);
  }
  .col--sm-33 {
    max-width: calc((33 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33 * 1%);
  }
  .col--sm-40 {
    max-width: calc((40 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(40 * 1%);
  }
  .col--sm-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--sm-60 {
    max-width: calc((60 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(60 * 1%);
  }
  .col--sm-66 {
    max-width: calc((66 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66 * 1%);
  }
  .col--sm-70 {
    max-width: calc((70 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(70 * 1%);
  }
  .col--sm-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--sm-80 {
    max-width: calc((80 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(80 * 1%);
  }
  .col--sm-90 {
    max-width: calc((90 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(90 * 1%);
  }
  .col--sm-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}
@media (min-width: 900px) {
  .col--md-10 {
    max-width: calc((10 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(10 * 1%);
  }
  .col--md-20 {
    max-width: calc((20 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20 * 1%);
  }
  .col--md-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--md-30 {
    max-width: calc((30 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(30 * 1%);
  }
  .col--md-33 {
    max-width: calc((33 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33 * 1%);
  }
  .col--md-40 {
    max-width: calc((40 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(40 * 1%);
  }
  .col--md-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--md-60 {
    max-width: calc((60 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(60 * 1%);
  }
  .col--md-66 {
    max-width: calc((66 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66 * 1%);
  }
  .col--md-70 {
    max-width: calc((70 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(70 * 1%);
  }
  .col--md-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--md-80 {
    max-width: calc((80 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(80 * 1%);
  }
  .col--md-90 {
    max-width: calc((90 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(90 * 1%);
  }
  .col--md-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}
@media (min-width: 1200px) {
  .col--lg-10 {
    max-width: calc((10 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(10 * 1%);
  }
  .col--lg-20 {
    max-width: calc((20 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20 * 1%);
  }
  .col--lg-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--lg-30 {
    max-width: calc((30 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(30 * 1%);
  }
  .col--lg-33 {
    max-width: calc((33 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33 * 1%);
  }
  .col--lg-40 {
    max-width: calc((40 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(40 * 1%);
  }
  .col--lg-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--lg-60 {
    max-width: calc((60 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(60 * 1%);
  }
  .col--lg-66 {
    max-width: calc((66 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66 * 1%);
  }
  .col--lg-70 {
    max-width: calc((70 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(70 * 1%);
  }
  .col--lg-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--lg-80 {
    max-width: calc((80 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(80 * 1%);
  }
  .col--lg-90 {
    max-width: calc((90 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(90 * 1%);
  }
  .col--lg-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}
@media (min-width: 1800px) {
  .col--xl-10 {
    max-width: calc((10 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(10 * 1%);
  }
  .col--xl-20 {
    max-width: calc((20 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20 * 1%);
  }
  .col--xl-25 {
    max-width: calc((25 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25 * 1%);
  }
  .col--xl-30 {
    max-width: calc((30 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(30 * 1%);
  }
  .col--xl-33 {
    max-width: calc((33 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33 * 1%);
  }
  .col--xl-40 {
    max-width: calc((40 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(40 * 1%);
  }
  .col--xl-50 {
    max-width: calc((50 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50 * 1%);
  }
  .col--xl-60 {
    max-width: calc((60 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(60 * 1%);
  }
  .col--xl-66 {
    max-width: calc((66 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66 * 1%);
  }
  .col--xl-70 {
    max-width: calc((70 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(70 * 1%);
  }
  .col--xl-75 {
    max-width: calc((75 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75 * 1%);
  }
  .col--xl-80 {
    max-width: calc((80 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(80 * 1%);
  }
  .col--xl-90 {
    max-width: calc((90 * 1%) - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(90 * 1%);
  }
  .col--xl-100 {
    max-width: calc((100 * 1%) - 1.5rem);
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100 * 1%);
  }
}/*# sourceMappingURL=style.css.map */