@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.container {
    margin-left: auto;
    margin-right: auto;
    padding: var.$gutter-col-gap;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var.$gutter-row-gap var.$gutter-col-gap;
    // justify-content: space-between;
    
    @include mixin.breakpoint(sm) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.col {
    // width: 100%;
    &-10 {
        @include mixin.col(10);
    }
    &-20 {
        @include mixin.col(20);
    }
    &-30 {
        @include mixin.col(30);
    }
    &-40 {
        @include mixin.col(40);
    }
    &-50 {
        @include mixin.col(50);
    }
    &-60 {
        @include mixin.col(60);
    }
    &-70 {
        @include mixin.col(70);
    }
    &-80 {
        @include mixin.col(80);
    }
    &-90 {
        @include mixin.col(90);
    }
    &-100 {
        @include mixin.col(100);
    }

    &--sm {
        @include mixin.breakpoint(sm) {
            &-10 {
                @include mixin.col(10);
            }
            &-20 {
                @include mixin.col(20);
            }
            &-30 {
                @include mixin.col(30);
            }
            &-40 {
                @include mixin.col(40);
            }
            &-50 {
                @include mixin.col(50);
            }
            &-60 {
                @include mixin.col(60);
            }
            &-70 {
                @include mixin.col(70);
            }
            &-80 {
                @include mixin.col(80);
            }
            &-90 {
                @include mixin.col(90);
            }
            &-100 {
                @include mixin.col(100);
            }
        }
    }
    &--md {
        @include mixin.breakpoint(md) {
            &-10 {
                @include mixin.col(10);
            }
            &-20 {
                @include mixin.col(20);
            }
            &-30 {
                @include mixin.col(30);
            }
            &-40 {
                @include mixin.col(40);
            }
            &-50 {
                @include mixin.col(50);
            }
            &-60 {
                @include mixin.col(60);
            }
            &-70 {
                @include mixin.col(70);
            }
            &-80 {
                @include mixin.col(80);
            }
            &-90 {
                @include mixin.col(90);
            }
            &-100 {
                @include mixin.col(100);
            }
        }
    }
    &--lg {
        @include mixin.breakpoint(lg) {
            &-10 {
                @include mixin.col(10);
            }
            &-20 {
                @include mixin.col(20);
            }
            &-30 {
                @include mixin.col(30);
            }
            &-40 {
                @include mixin.col(40);
            }
            &-50 {
                @include mixin.col(50);
            }
            &-60 {
                @include mixin.col(60);
            }
            &-70 {
                @include mixin.col(70);
            }
            &-80 {
                @include mixin.col(80);
            }
            &-90 {
                @include mixin.col(90);
            }
            &-100 {
                @include mixin.col(100);
            }
        }
    }
    &--xl {
        @include mixin.breakpoint(xl) {
            &-10 {
                @include mixin.col(10);
            }
            &-20 {
                @include mixin.col(20);
            }
            &-30 {
                @include mixin.col(30);
            }
            &-40 {
                @include mixin.col(40);
            }
            &-50 {
                @include mixin.col(50);
            }
            &-60 {
                @include mixin.col(60);
            }
            &-70 {
                @include mixin.col(70);
            }
            &-80 {
                @include mixin.col(80);
            }
            &-90 {
                @include mixin.col(90);
            }
            &-100 {
                @include mixin.col(100);
            }
        }
    }
}