@use "../abstracts/variables" as var;

.btn, button {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    background-color: var.$color-gray-light;
    color: var.$color-primary;
    border: none;
    
    &:hover {
        transform: translateY(-.3rem);

    }
    
    &:active {
        transform: translateY(-.1rem);
    }
}