@use '../abstracts/variables' as var;


// mobile-first
@mixin breakpoint($breakpoint) {
                                                        // viewport: 0-600px          <- default (no media query)

    @if $breakpoint == sm {
        @media (min-width: var.$bp-sm) {@content};      // viewport: 600px-up        <- small
    }
    @if $breakpoint == md {
        @media (min-width: var.$bp-md) {@content};      // viewport: 900px-up       <- medium
    }
    @if $breakpoint == lg {
        @media (min-width: var.$bp-lg) {@content};      // viewport: 1200px-up      <- large
    }
    @if $breakpoint == xl {
        @media (min-width: var.$bp-xl) {@content};      // viewport: 1800px-up           <- extra large
    }
}

/*
// desktop-first
@mixin breakpoint($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: var.$bp-sm) {@content};                              // viewport: 0-600px       <- small
    }
    @if $breakpoint == md {
        @media (min-width: var.$bp-sm) and (max-width: var.$bp-md) {@content};  // viewport: 600-900px     <- medium
    }
    @if $breakpoint == lg {
        @media (min-width: var.$bp-md) and (max-width: var.$bp-lg) {@content};  // viewport: 900-1200px    <- large
    }
    @if $breakpoint == xl {
        @media (min-width: var.$bp-lg) and (max-width: var.$bp-xl) {@content};  // viewport: 1200-1800px   <- extra large
    }

                                                                                // viewport: 1800+         <- default (no media query)
}
*/

@mixin col($width) {
    @content;
    max-width: calc((#{$width} * 1%) - #{var.$gutter-col-gap});
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((#{$width} * 1%));
}